<div class = "info" style = "height:11em;">
  <div class = "infoTitle"> <webobject name = "NameIndiv" /> </div>
  <div style = "float:left;margin:0.5em 0;">
    &nbsp;&nbsp;&nbsp;<webobject name = "Mailto"> <webobject name = "Email" /> </webobject> 
    <br />
    <webobject name = "LstGrades">
      <webobject name = "Grade" />
      <br />
    </webobject>
    <div style = "width:19em;" class = "cadreListTitre"> T&eacute;l&eacute;phones </div>
    <div style = "width:19em;height:3em;" class = "cadreList">
      <webobject name = "LstTelephones">
        <webobject name = "DivTel">
          <div style = "float:left;width:8.5em;"> <webobject name = "TypeTel" /></div>
          <div style = "float:right;width:9em;"> <webobject name = "Telephone" /></div>
        </webobject>
      </webobject>
    </div>
  </div>
  <div style = "width:22em;float:right;" class = "cadreListTitre"> Appartient aux structures </div>
  <div style = "width:22em;height:6em;float:right;" class = "cadreList">
    <webobject name = "LstStructures">
      <webobject name = "DivStr"><webobject name = "Structure" /></webobject>
    </webobject>
  </div>
</div>