<webobject name = "FormGestReport">
  <div class = "subBox corpsBlock">
    <table>
      <tr>
        <td colspan = "2"> </td>
      </tr>
      <tr>
        <th class = "required" style = "text-align:right;">Ann&eacute;e</th>
        <td><webobject name = "PubAnnee" /></td>
      </tr>
      <tr>
        <th class = "required" style = "text-align:right;">Heures report&eacute;es</th>
        <td><webobject name = "TNbHeures" /></td>
      </tr>
      <tr>
        <td valign = "top" style = "text-align:right;">Commentaire</td>
        <td><webobject name = "TACommentaire" /></td> 
      </tr>
      <tr>
        <td></td>
        <td style = "text-align:right;"><webobject name = "CasbValide" />&nbsp;&nbsp;<webobject name = "CasbCancel" /></td>
      </tr>
    </table>
  </div>
  <webobject name = "AucMessage"> <webobject name = "Message" /> </webobject>
</webobject>