<webobject name = "Wrapper">
  <webobject name = "FormLogin">
    <div class = "block" style = "width:95%;max-width:350px;margin:10px auto;">
      <div class = "boxTitre titreBlock" style = "padding-top:0;padding-bottom:0">
        <span style = "margin-left:20px">Connexion &agrave; l'application</span>
      </div>
      <div class = "subBox corpsBlock">
        <table>
          <tr>
            <th style = "text-align:right;">Identifiant :</th>
            <td style = "text-align:left;white-space:nowrap;"><webobject name = "Login" /> </td>
          </tr>
          <tr>
            <th style = "text-align:right;">Mot de passe :</th>
            <td style = "text-align:left;white-space:nowrap;"><webobject name = "MotDePasse" /> </td>
          </tr>
          <tr>
            <td colspan = "2" style = "text-align:center"><webobject name = "Valider" /></td>
          </tr>
        </table>
        <webobject name = "ErreurContainer"> <webobject name = "MessageUtil" /> </webobject>
      </div>
    </div>
  </webobject>
</webobject>