
/**********************************************************/
/* Feuille de style de l'application grille */
/**********************************************************/

/*
Config appli
*/

root { 
    display: block;
}

h1 {
    font-size: large;
    font-weight: bold;
/*    text-align: center;*/
}
h2 {
    font-size: large;
    font-weight: bold;
}

/*
 LE "CORPS" DE LA PAGE
*/

#centre {
	padding: 0;
	margin: 2em auto;
	width: 67em;
}

#main {
    border : 0;    
    width : 100%;
    /*text-align: center;*/
}

.tableWithBorder {
  border:1px solid #A3A3A3;
}

.tableWithBorder thead tr th {
  border-style:solid;
  border-bottom-color: #A3A3A3; 
  border-top:medium none;
  border-left:1px solid #DBDBDB;
  border-right:1px solid #A3A3A3;
}

.tableWithBorder tbody tr td {
  border-left:1px solid #DBDBDB;
  border-right:1px solid #A3A3A3;
}

.editedFieldSet {    
    border : 2px solid #696996 !important;
    background : #FFF9F0 !important;
}

.editedLegend {    
    border : 2px solid #696996 !important;
    background : #FFDFAE !important;
}


#main a.bulle {
    position: relative;
    color: #218CA5;
    text-decoration : none;
}

#main a.bulle span {
    display: none;
}

#main a.bulle:hover { 
    background: none;
    z-index: 9999;
}

#main a.bulle:hover span { 
    display: block;
    position: absolute;
    top: 2em;
    left: 1em;    
    background-color: #ffe5be;
    border: 1px solid black;
    padding: 2px;   
    text-decoration: none;
    font-weight: normal;
    color: black;
}
/* CSS du menu horizontal, basé sur menu de bieler batiste */

.menu{
    display:block;
    margin:0 auto;
    padding:0;
    }

.menu ul{
    position:absolute;
    display:block;
    width:164px;
    /*margin:0;*/
    padding:0;
    }
    
.menu li ul{
    visibility:hidden;
    z-index:9999999999;
    }


.menu li li ul{
    position:absolute;
    margin-left:164px;
    margin-top:-23px;
    }
    
.menu li{
    list-style:none;
    width:164px;
    height:auto;
    display:inline;
    display/**/:block;
    float:none;
    float/**/:left;
    margin:0;
    padding:0;
    }
    
.menu li li{
    display:block;
    float:none;
    }
    
/* correct a little IE bug */
* html .menu li li{
    display:inline;
    }

.menu a{
    text-align:left;    
    border:1px #666 solid;
    display:block;
    width:151px;
    text-decoration:none;
    padding:2px 0 0 10px;
    margin:1px;
    z-index: 999;
    }
    
.menu a:hover{
    background-color: #eee;
    border:1px #aaa solid;
    }

.menu>li>a{
	text-align:center;
}

.menu li ul li[id]>a{
    background-image : url(img/next.png);
    background-position : center right;
    background-repeat:no-repeat;
    }    
    
/* for a mozilla better display with key nav */
.menu a:focus{
    background-color: #aaf;
}

/*Arbre*/

 ul.tree .nodeLabel {
  	margin-left: 19px;
  	margin-top: -16px;
  	margin-bottom: 3px;
  }
  
/*PIED DE PAGE*/
#pied {
	clear: both;
    padding: 2em;
    margin: 10px 0;
    border-top: 1px solid #FFA508;   
}

/*
 LE RESTE...
*/

.centerbox {
    text-align : center; 
    margin : 5em 0 0 0; 
    /*border : 1px solid rgb(204, 204, 204);*/
}


.bouton:hover{
    background-color:#FFE5BE;
    color : black;
    text-decoration : underline;
}
.bouton{
    display:block;
    text-decoration:none;
    background-color:#FFA508;
    padding:3px;margin:3px 5px;
    width:150px;
    border:1px solid black;
    color:white;
    font-weight : bold;  
}


.cadreList {	
	margin:0 0.5em 0 0.5em;
	overflow:auto;
	text-align:left;
	border:1px solid #FFE5BE;
	background-color: #f3f8f8;
}

.cadreListTitre {
	margin:0.5em 0.5em 0 0.5em;
	text-align:center;
	border:1px solid #FFE5BE;
	background-color : #FFFCF8;
    background-image : url("img/th_bg.gif");
	font-weight : bold;  	
}

/*Round Cadre */
.infoTitle{
	background-color : #FFE5BE;
    background-image : url(img/fileopen.png);
    background-position : 0.5em 0.2em;
    background-repeat : no-repeat;
    text-align : center;
	font-weight : bold; 
	vertical-align : middle;
	border : 1px solid black;  
	height: 1.8em;  
	padding-top: 0.3em;  
	margin: -1px;  
}
.info{	
	margin : 0 auto;
	min-height : 10px;
	clear : both;	 	
	border-collapse : collapse;
	padding : 0px 0px 10px 0px;		
	-moz-border-radius : 20px;	
    border : 1px solid black;
    background-color: #F1F1F1;
}

.notetip,.warning,.confirm{
	margin : 5px auto;
	min-height : 10px;
	clear : both;
	text-align : center;
	font-weight : bold;  
	vertical-align : middle;        
	border-collapse : collapse;
	padding : 10px 15px 10px 40px;	
	background-repeat : no-repeat;
	-moz-border-radius : 20px;	
}

.confirm{	
	font-weight : normal;
	background-color : #FFE5BE;
    background-image : url(img/confirm.png);
    background-position : 10px 5px;
    border : 1px solid black;
}

.notetip{
	background-color : #DDE9FB;
    background-image : url(img/info.gif);
    background-position : 10px 5px;
    border : 1px solid #345EE4;
}
.warning{
	background-color : #FFEAEA;
    background-image : url(img/warning.gif);
    background-position : 10px 5px;
    border : 1px solid rgb(255,0,0);
}

.aide{
	text-align:justify;	
	border: 1px solid #345EE4;
    background-color: #DDE9FB;
    padding: 0.5em 1em 0.5em 30px;
    -moz-border-radius :10px;
    margin-top : -25px;
}
.buttonlink{
	width:35em;
	padding:1em 2em 1em 3em;
	background-position:0.5em 0.2em;
	background-repeat:no-repeat;
	margin : 0 auto;
	min-height : 10px;
	clear : both;	 	
	border-collapse : collapse;	
	-moz-border-radius : 20px;	
    border : 1px solid black;
    background-color: #F1F1F1;
    cursor:pointer;
}

.searchzone {
	border : none;
	background-color : #FFFCF8;
	clear : both;
	height : 100%;
	margin : 0;
	padding : 0;
}

.searchzone input, textarea, select, button{
	background-color : #F1F1F1;
}

.searchzone button{
	background-color : #EFEFF3;	
}

.searchzone radio {
	border : none;
}
.selected {
	background : #D7D7D7 !important;
	font-weight : bold;
	color : #218CA5;
}

.deleted {
    background : #FBFBF9 url(img/barre.gif) repeat-x 50% !important;    
    font-style : italic;
    color : #6C6C53;
}

.valide {
    background-color : #DDFFDD !important; 
}

.required {
    font-weight : bold;
}

.row2 {
    background : #f3f8f8 !important;
}

.row1 {
    background : #FFFFFF !important;
}

.block {
	border:1px solid #B3B3B3;
	margin:5px 0 5px 10px;
}
.titreBlock {
	border-bottom:1px dotted black;
	padding-bottom:3px;
	padding-top:3px;
}
.corpsBlock {
	font-weight:normal;
	padding:0 5px 5px;
}

.blink {
	padding : 2px 4px 2px 23px;	
	border : 1px solid #C9D0E0;
	border-style: outset;
	color : #000;
	text-decoration: none;
	white-space:nowrap;
}

.link_find {
	background : #EFEFEF url(img/find16.png) no-repeat 3px; 
}

.link_ok {
	background: #EFEFEF url(img/ok.png) no-repeat  3px;
}

.link_next {
	background: #EFEFEF url(img/next.png) no-repeat  3px;
}

.link_previous {
	background: #EFEFEF url(img/previous.png) no-repeat  3px;
}

.link_first {
	background: #EFEFEF url(img/first.png) no-repeat  3px;
}

.link_last {
	background: #EFEFEF url(img/last.png) no-repeat  3px;
}

.link_save {
	background: #EFEFEF url(img/db_save.png) no-repeat  3px;
}

.link_add {
	background: #EFEFEF url(img/001_17_16x16.png) no-repeat  3px;
}

.link_add_from {
	background: #EFEFEF url(img/001_16_16x16.png) no-repeat  3px;
}

.link_edit {
	background: #EFEFEF url(img/001_45_16x16.png) no-repeat  3px;
}

/* liste des ec dans la gestion des listes */

.div_liste_ec {
	width:350px; 
	height:350px; 
	overflow:scroll;
	text-align:left;
	border-left: 1px solid #aaa;
	border-top: 1px solid #bbb;
}

/* Gestion des fieldset */
/*
fieldset {
	margin-bottom: 2px;
	border: 0;
	width: auto;
	margin: 0 10em 0 10em;
	background-color : #F8FFEF;
	text-align:left;
	border: 1px solid #aaa;
}
*/


fieldset p {
	padding: 0 0 4px 2px !important;
	padding: 0 0 0.2em 0.5em;
	clear: both;
}

/*
legend {
	margin: 0 0 0.5em 0;
	padding: 2px;
	color: #081F0D;
	font-style: bold;
	background-color:#E9EFE0 !important;
	border-top: 1px solid #081F0D;
	border-bottom: 1px solid #081F0D;
	background-color: none;
	text-shadow : 0.1em 0.1em 0.1em #BBBBBB;
}

*/

label.text {	
	float: left;
	width: 20%;
	text-align: right; 
	margin: 5px ;
	
	/*border-bottom: 1px solid #FBBA00;*/
}

/*Progress barre*/
table.progressBarContainer {
	width: 100%;
	border-spacing: 0px;
}

table.progressBarContainer td {
	font-family: Helvetica;
	font-size: 8pt;
	padding: 2px;
	color: rgb(100, 100, 100);
}

table.progressBarContainer td.progressValue {
	white-space: nowrap;
}

table.progressBar {
	border: 1px solid black;
}

table.progressBar td.percentageFinished {
	background-image: url(img/progress-on.gif);
	background-repeat: repeat-x;
}

table.progressBar td.percentageFinished.done {
	background-image: url(img/progress-off.gif);
	background-repeat: repeat-x;
}

table.progressBar td.percentageUnfinished {
	background-image: url(img/progress-off.gif);
	background-repeat: repeat-x;
}

table.progressBarContainer td.progressMaximum {
	white-space: nowrap;
}


  