<webobject name = "Wrapper">
  <div>
    <h1>Gestion de listes personnalisables</h1>
    <br />
    <div>
      <webobject name = "FormChangeListe">
        <webobject name = "BCreerListe" />&nbsp;
        <webobject name = "AucCopieLst"><webobject name = "CanCreateListeSameFromation"><webobject name = "BCreerListeMemeParcours" />&nbsp;</webobject></webobject>
        <webobject name = "BModifierListe" />
        <webobject name = "AucPubGrilleListes">
          <webobject name = "IsShowLists">
            Liste a modifier : <webobject name = "PubGrilleListes" />
            <webobject name = "AsbSelectListe" />
          </webobject>
        </webobject>
      </webobject>
    </div>
    <webobject name = "AucCreationListe">
      <webobject name = "IsShowMod"> <webobject name = "MCreationListe" /> </webobject>
    </webobject>
  </div>
</webobject>