<webobject name = "Cadre">
  <webobject name = "AucAP">
    <fieldset>
      <legend>Action p&eacute;dagogique</legend>
      <table style = "background:non;">
        <tr>
          <td>Libelle :</td>
          <td><webobject name = "APLibelle" /></td>
        </tr>
        <tr>
          <td>Dipl&ocirc;me(s): </td>
          <td>
            <ul>
              <webobject name = "LstDipl">
                <li><webobject name = "LibDipl" /></li>
              </webobject>
            </ul>
          </td>
        </tr>
      </table>
      <webobject name = "SearchAP" />
    </fieldset>
  </webobject>
</webobject>