<webobject name = "FormGestActePrest">
<div class="subBox corpsBlock">
  <table>
    <tr>
      <th>Libelle court *</th>
      <td><webobject name = "LibCourt" /></td>
    </tr>
    <tr>
      <th>Libelle long *</th>
      <td><webobject name = "LibLong" /></td>
    </tr>
    <tr>
    <td/>
    <td style = "text-align:right;"><webobject name = "CasbValide" />&nbsp;&nbsp;<webobject name = "CasbAnnule" />&nbsp;&nbsp;</td>
    </tr>
  </table>
 </div>
 <webobject name = "AucMessage"><webobject name = "Message" /></webobject>
</webobject>