<webobject name = "FormGestPrest">
  <div class = "subBox corpsBlock">
    <table>
      <tr>
        <th style = "text-align:right;">Code Acte de la prestation</th>
        <td><webobject name = "PubActePrestation" /></td>
      </tr>
      <tr>
        <th style = "text-align:right;">Etablissement</th>
        <td><webobject name = "StructureAutoComplete" /></td>
      </tr>
      <tr>
        <th style = "text-align:right;">Heures équivalent CM</th>
        <td><webobject name = "THeuresCM" /></td>
      </tr>
      <tr>
        <th style = "text-align:right;">Heures équivalent TD</th>
        <td><webobject name = "THeuresTD" /></td>
      </tr>
      <tr>
        <th style = "text-align:right;">Heures équivalent TP</th>
        <td><webobject name = "THeuresTP" /></td>
      </tr>
      <tr>
        <td style = "text-align:right;" valign = "top">Commentaire</td>
        <td><webobject name = "TaCommentaire" /></td>
      </tr>
      <tr>
        <td></td>
        <td style = "text-align:right;"> 
          <webobject name = "CasbValide" />&nbsp;&nbsp;<webobject name = "CasbCancel" />&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
  <webobject name = "AucMessage"><webobject name = "Message" /></webobject>
</webobject>