# (c) Cocktail
# Fichier de config de l'application Grille 
# Les parametres definis ici remplacent ceux
# definis dans la table GRHUM.GRHUM_PARAMETRES 

DOMAIN_NAME=univ-provence.fr
APP_ID=GRILLE
APP_ALIAS=Grille
APP_TITLE=GRILLE
APP_USE_MAIL=YES
APP_USE_GEDFS=NO
DEFAULT_SESSION_TIME_OUT=1000

#* Le URL de l'image "logo" de l'etablissement. Elle est affichee sur la page
#* d'acceuil de l'application et dans la bare de menu
MAIN_LOGO_URL=http://app.univ-provence.fr/images/image_partagee/logoUP.png

#Config SAUT + Modeles
#SAUT_URL = Adresse de votre serveur SAUT si vous en avez un 
#(du type http://www.univ-xxxxxx.fr/cgi-bin/WebObjects/SAUT.woa/wa/)
SAUT_URL=http://app.univ-provence.fr/cgi-bin/WebObjects/ServAut.woa/wa/

SAUT_ID_TRANSLATION=GRHUM:GRHUM,SCOL:SCOL,GRILLE:GRILLE,LMD:LMD
#SAUT_ID_TRANSLATION=GRHUM:GRHUMT,SCOL:SCOLT,GRILLE:GRILLET,LMD:LMDT

#Identification CAS
#utilisation de l'identification CAS
#APP_USE_CAS=(YES|NO)
CAS_USE_CAS=YES
APP_USE_CAS=YES

# c_structure du groupe des individus administrateurs de l'appli
C_STRUCTURE_ADMIN=16515

#en mode test les mail sont envoyés a l'adresse MAIL_ADMIN
MODE_TEST=TRUE
ADMIN_MAIL=jean-luc.matas@univ-provence.fr
APP_MAIL=jean-luc.matas@univ-provence.fr
