<webobject name = "Wrapper">
  <div class = "block" style = "width:90%;margin:10px auto;max-width:450px;">
    <div class = "boxTitre titreBlock" style = "padding-top:0;padding-bottom:0">
      <span style = "margin-left:20px">Changement d'identit&eacute;</span>
    </div>
    <div class = "subBox corpsBlock">
      Entrez le login de la personne dont vous voulez tester la connexion : 
      <webobject name = "Form">
        <webobject name = "Login" />
        <webobject name = "CasbValider" />
      </webobject>
    </div>
  </div>
  <webobject name = "ErreurContainer"> <webobject name = "MessageUtil" /> </webobject>
</webobject>