<div style = "text-align:center;">
<webobject name = "DisplayTable">
  <webobject name = "TBV" />
  <webobject name = "HaveDeletedObj">
    <div style = "width:33em;text-align:center;margin:0 auto 10px auto;">
      <webobject name = "DivMsg">Une fois confirm&eacute;e, la suppression sera d&eacute;finitive !</webobject>
      <webobject name = "AbSaveChanges" />&nbsp;&nbsp;<webobject name = "AbCancelChanges" />
    </div>
  </webobject>
  </webobject>
  <webobject name = "Else">
    <p>--&nbsp;Aucun report&nbsp;--</p> 
  </webobject>
</div>