<webobject name = "Wrapper">
  <div class = "block" style = "width:90%;max-width:820px;margin:10px auto;">
    <div class = "boxTitre titreBlock" style = "padding-top:0;padding-bottom:0">
      <span style = "margin-left:20px">Charges d'enseignement</span>
    </div>
    <div class = "subBox corpsBlock"> 
      <webobject name = "AucMessage"> <webobject name = "Message" /> </webobject>
    <webobject name = "FormChargeEns">
    <h4>Veuillez sélectionner au moins un domaine et une formations :</h4>
    <webobject name = "DiplPicker"></webobject>
    <webobject name = "BExtraction"></webobject>
    </webobject>
    </div>
  </div>
</webobject>

