<div style = "text-align:center;">
  <webobject name = "DisplayTable">
    <webobject name = "TBV" />
    <webobject name = "HaveDeletedObj">
      <div style = "width:33em;text-align:center;margin:0 auto 10px auto;">
        <webobject name = "DivMsg">Une fois confirm&eacute;e, les suppressions sont d&eacute;finitives !</webobject>
        <webobject name = "AbSaveChanges" />&nbsp;&nbsp;<webobject name = "AbCancelChanges" />
      </div>
    </webobject>
  </webobject>
  <webobject name = "Else"> ... </webobject>
</div>