<webobject name = "Cadre">
  <webobject name = "IsNotConnected">
    <br />
    <br />
    <br />
    <div>
      
      <br />
      <br />
      <webobject name = "goCas">
        <div class = "buttonlink" style = 'background-image:url(<webobject name = "UrlImgEnter"></webobject>);'>
          <p style = "margin-top:0;font-size:1.3em;font-weight:bold;">Accéder à l'application</p>
          <font style = "font-style:italic;font-weight:bold;color:black;">Une authentification sera demandée si
            vous vous connectez pour la première fois</font>
        </div>
      </webobject>
      <br />
      <br />
     
      &nbsp;&nbsp; 
      <br />
      <br />
      <br />
      
    </div>
  </webobject>
  <webobject name = "IsConnected"> </webobject>
</webobject>