<webobject name = "Wrapper">
  <div style = "text-align:center">
    <h1>Gestion des actes de prestations</h1>
    <webobject name = "AucListe">
      <webobject name = "ActPrestTV" />
      <webobject name = "AulRefreshPresta" />
    </webobject>
    <webobject name = "CanEditObj"> <webobject name = "CabAddActPrest" /> </webobject>
    <webobject name = "AucEditObj">
      <webobject name = "CawEditObj"> <webobject name = "MGestionActePrestation" /> </webobject>
    </webobject>
  </div>
</webobject>