<webobject name = "Table">
  <tr>
    <td align = "center">
      <webobject name = "IsErrorMessages">
        <div class = "warning">
          <webobject name = "RepErreurs">
            <webobject name = "ErrorMsg" />
            <webobject name = "IsPersistant">
              &nbsp;&nbsp;&nbsp;&nbsp;<webobject name = "AulCheck"><webobject name = "Close"/></webobject>
            </webobject>
            <br />
          </webobject>
        </div>
      </webobject>
      <webobject name = "IsInfoMessages">
        <div class = "notetip">
          <webobject name = "RepInfos">
            <webobject name = "InfoMsg" />
            <webobject name = "IsPersistantInfo">
              &nbsp;&nbsp;&nbsp;&nbsp;<webobject name = "AulCheckInfo"><webobject name = "Close"/></webobject>
            </webobject>
            <br />
          </webobject>
        </div>
      </webobject>
    </td>
  </tr>
</webobject>