<webobject name = "IsUe"> U.E.:<webobject name = "LibUe" /> </webobject>
<webobject name = "IsEc"> E.C.:<webobject name = "LibEc" /> </webobject>
<webobject name = "IsParcours">
  Parcours:<webobject name = "LibParcours" />
  de 
  <webobject name = "ParcoursLibSpecialisation" />
</webobject>
<webobject name = "IsSemestre">
  Semestre:<webobject name = "LibSemestre" />
  de 
  <webobject name = "SemestreLibSpecialisation" />
</webobject>
<webobject name = "IsSpecialisation"> Sp&eacute;cialisation:<webobject name = "LibSpecialisation" /> </webobject>
<webobject name = "IsDiplome"> Dipl&ocirc;me:<webobject name = "LibDiplome" /> </webobject>
<webobject name = "IsDomaine"> Domaine:<webobject name = "LibDomaine" /> </webobject>