<fieldset style = "margin-top:20px;padding:0 0 5px 0;clear:both;max-width:590px;-moz-border-radius:10px;">
  <legend style = "background-color:#FFFCF8;border:none;margin-left:5em;">Verouillage de l'&eacute;l&eacute;ment 
    <webobject name = "IsLockedEc">&nbsp;<webobject name = "ImgVerrou" /></webobject>
  </legend>
  <webobject name = "AucLockEc">
    <webobject name = "IsNotLockedEc">
      <b>El&eacute;ment non verrouill&eacute;.</b>
      <br />
      <webobject name = "CanLockEc">Une fois verrouill&eacute;, il sera impossible de modifier ou saisir les voeux de cet &eacute;l&eacute;ment sans d&eacute;verrouillage &nbsp;<webobject name = "CabLockEc" /></webobject>
    </webobject>
    <webobject name = "IsLockedEc">
      <span style="color:red;font-weight:bold;">Element verrouill&eacute;</span>&nbsp;&nbsp;le&nbsp;<b><webobject name = "Dverrou"/></b>&nbsp;par&nbsp;<span style = "font-weight:bold"><webobject name = "NomLocker" /></span>&nbsp;&nbsp;-&nbsp;&nbsp;<webobject name = "CanLockEc"><webobject name = "CabUnLockEc" /></webobject>
      <p style = "font-weight:bold;">Toute modification des voeux sur l'&eacute;l&eacute;ment est imposssible</p>
    </webobject>
    <webobject name = "ErreurVerrouContainer"> <webobject name = "MessageUtilVerrou" /> </webobject>
  </webobject>
</fieldset>