<div style = "float:left;position:relative;left:50%;text-align:left;">
  <ul id = "menu" class = "menu" style = "position:relative;left:-50%;">
    <webobject name = "CanShowMenuEns">
      <li>
        <a class = "boxTitre" href = "#">Enseignants</a>
        <ul>
          <li>
            <webobject name = "GoGestEnseignants">Enseignants</webobject>
          </li>
          <webobject name = "CanShowTypePresta">
            <li>
              <webobject name = "GoGestionActePrestation">Types de prestations</webobject>
            </li>
          </webobject>
        </ul>
      </li>
    </webobject>
    <li>
      <a class = "boxTitre" href = "#">Service enseignant</a>
      <ul>
        <li>
          <webobject name = "GoToVoeuxEns">Par enseignant</webobject>
        </li>
        <li>
          <webobject name = "GoToVoeuxElp">Par &eacute;l&eacute;ment constitutif</webobject>
        </li>
        <li>
          <webobject name = "GoToVoeuxActiv">Par activit&eacute;</webobject>
        </li>
        <li>
          <webobject name = "GoToArbre">Arbre</webobject>
        </li>
        <webobject name = "CanShowGestionRealise">
          <li>
            <webobject name = "GoToGestionRealise">Valider r&eacute;servation SuperPlan</webobject>
          </li>
        </webobject>
      </ul>
    </li>
    <li>
      <a class = "boxTitre" href = "#">E.C. / Activit&eacute;s </a>
      <ul>
        <li>
          <webobject name = "GoGestionEC">El&eacute;ment constitutif</webobject>
        </li>
        <li>
          <a class = "boxTitre" href = "#">Activit&eacute;s</a>
          <ul>
            <webobject name = "CanShowTypeActivite">
              <li>
                <webobject name = "GoGestionTypeActivite">Types Activit&eacute;s</webobject>
              </li>
            </webobject>
            <li>
              <webobject name = "GoGestionActivite">Gestion des Activit&eacute;s</webobject>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <webobject name = "CanShowEditions">
      <li>
        <a class = "boxTitre" href = "#">Editions</a>
        <ul>
          <li>
            <webobject name = "GoCreationListe">Listes personnalisables</webobject>
          </li>
          <li>
            <webobject name = "GoEtatService">Imprimer liste</webobject>
          </li>
          <!-- 
	        <li>
	          <webobject name = "GoPrintCoefEqTD">Coefficients Eq./TD</webobject>
	        </li>
	        <li>
	          <webobject name = "GoPrintListeActes">Liste des actes</webobject>
	        </li>
	        <li>
	          <webobject name = "GoActivitesAnnee">Activit&eacute;s de l'ann&eacute;e</webobject>
	        </li>
	        <li>
	          <webobject name = "GoPrestaAnnee">Prestations de l'ann&eacute;e</webobject>
	        </li>
	         -->
          <li>
            <webobject name = "GoBilanService">Bilan services enseignant</webobject>
          </li>
          <li>
            <webobject name = "GoChargeEnseignement">Charges enseignement</webobject>
          </li>
          <li>
            <webobject name = "GoListeEnsCorps">Liste des enseignants par corps</webobject>
          </li>
          <li>
            <webobject name = "GoListeVoeuxActiv">Liste des voeux sur activit&eacute;</webobject>
          </li>
          <li>
            <webobject name = "GoListeDecharges">Liste d&eacute;charges</webobject>
          </li>
        </ul>
      </li>
    </webobject>
    <webobject name = "CanShowAdmin">
      <li>
        <a class = "boxTitre" href = "#">Administration</a>
        <ul>
          <li>
            <webobject name = "GoToEquipeDipl">Equipe dipl&ocirc;me</webobject>
          </li>
          <li>
            <webobject name = "GoToChangeId">Changer d'identit&eacute;</webobject>
          </li>
        </ul>
      </li>
    </webobject>
  </ul>
</div>